<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Notification"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer"
        tools:targetApi="31">
        <activity
            android:name=".FindNewSongsActivity"
            android:exported="false" />
        <activity
            android:name=".SetDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectedArtistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectedAlbumActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SeeMusicListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ModifyPlaylistInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyMusicInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectedPlaylistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PlaylistsMenuActivity"
            android:exported="false"
            android:label="@string/title_activity_playlists_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MusicPlayer.NoActionBar" />
        <activity
            android:name=".MusicPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".PausePlayNotificationReceiver"/>
        <receiver android:name=".NextMusicNotificationReceiver"/>
        <receiver android:name=".PreviousMusicNotificationReceiver"/>

    </application>

</manifest>